{% extends 'base.html' %}
{% block page_heading %}
    Bring the next level of competition to your group.
{% endblock %}
{% block main_content %}
    <div class="container-fluid rocket">
        <div class="main-item">
            <h2>Why Challenger?</h2>
            <p>
                Our Site brings small groups with common interests together, providing a forum to challenge each other's
                skills. From taking a picture of the sunset, to building a Rube Goldberg machine to close a door, throw
                down
                the gauntlet and Challenger On! The sky's the limit.
            </p>
        </div>
        <div class="main-item">
            <h2>Tutorials</h2>
        </div>

    </div>
{% endblock %}