{% load filters %}
{#  master content tab #}
<div class="tab-pane fade" id="master" role="tabpanel" aria-labelledby="master-tab">
    <div class="chg-header">You are the Master of {{ owned_challenges|length }}
        challenges.
    </div>
    {% for item in owned_challenges %}
        {# small devices layout #}
        <div class="challenge_wrap flex-grid hidden-tablet-up">
            <div class="full">
                <div class="ch-title">
                    <h3>Challenge: <span class="norm-font">{{ item.name | title }}</span></h3>
                </div>
            </div>
            <div class="ch-half">
                <div class="ch-item ch-date">
                    {{ item.start_date | date }}
                    {% if item.start_date|date != item.end_date|date %}
                        - {{ item.end_date | date }}
                    {% endif %}
                </div>
            </div>
            <div class="ch-half">
                <div class="ch-item">
                    {% if item.example_image %}
                        <img class="img-fluid mx-auto" src="{{ item.example_image.url }}"
                             alt="Example Submission Image for {{ item.name }}"/>
                    {% endif %}
                </div>
            </div>
            <div class="ch-half">
                <div class="full">
                <a href="{% url 'update_challenge' id=item.id %}" class="btn primary"><i
                        class="fas fa-edit"></i> Edit</a>
                </div>
            </div>
            <div class="ch-half">
                <div class="full">
                <a href="{% url 'delete_challenge' id=item.id %}" class="btn primary"><i
                        class="fas fa-trash-alt"></i> Delete</a>
                </div>
            </div>
            {% if item.get_submissions|length > 0 %}
                <div class="full">
                    <a href="{% url 'submissions' challenge_id=item.id %}" class="btn primary"><i
                            class="fas fa-eye"></i>
                        See Entries</a>
                </div>
            {% endif %}
        </div>
        {# tablet and above layout #}
        <div class="challenge_wrap flex-grid hidden-phone-down">
            <div class="full">
                <div class="ch-title ch-item">
                    {{ item.name | title }}
                </div>
            </div>
            <div>
                <div class="ch-date ch-item">
                    {{ item.start_date | date }}
                    {% if item.start_date|date != item.end_date|date %}
                        - {{ item.end_date | date }}
                    {% endif %}
                </div>
                <div class="center ch-item">
                    <a href="{% url 'update_challenge' id=item.id %}" class="btn primary"><i
                            class="fas fa-edit"></i> Edit</a>
                </div>
                <div class="center ch-item">
                    <a href="{% url 'delete_challenge' id=item.id %}" class="btn primary"><i
                            class="fas fa-trash-alt"></i> Delete</a>
                </div>
            </div>
            {% if item.example_video %}
                <div class="ch-vid-wrap ch-item">
                    {% vid_player video_url=item.example_video.url width='100%' height="auto" %}
                </div>
            {% endif %}
            {% if item.example_image %}
                <div class="ch-item {% if not item.example_video %}double{% endif %}">
                    <img class="img-fluid mx-auto" src="{{ item.example_image.url }}"
                         alt="Example Submission Image for {{ item.name }}"/>

                </div>
            {% endif %}
            <div class="ch-item">
                <p>{{ item.get_members|length }} members</p>
                <p>{{ item.get_submissions|length }} submissions</p>

                {% if item.get_submissions|length > 0 %}
                    <a href="{% url 'submissions' challenge_id=item.id %}" class="btn primary"><i
                            class="fas fa-eye"></i>
                        See Entries</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>