{% load filters %}
{# Display member item that user hasn't submitted to and is open #}

{# small devices layout #}
<div class="challenge_wrap submit flex-grid hidden-tablet-up">
    <div class="full">
        <div class="ch-title">
            <h3>Challenge: <span class="norm-font">{{ item.name | title }}</span></h3>
        </div>
    </div>
    <div>
        <div class="ch-date">
            <div class="ch-item">
                {{ item.start_date | date }}
                {% if item.start_date|date != item.end_date|date %}
                    - {{ item.end_date | date }}
                {% endif %}
            </div>
            <div class="ch-item">
                <a href="#{{ item.id }}-submit-small" data-toggle="tooltip" id="{{ item.id }}-submit-small"
                   title="{{ item.description }}">Details <i
                        class="fas fa-info-circle"></i></a>
            </div>
            <div class="ch-item">
                <a href="{% url 'create_submission' challenge_id=item.pk %}" class="btn primary"><i
                        class="fas fa-file-upload"></i> Submit</a>
            </div>
        </div>
    </div>
    <div>
        <div class="ch-item"
             style="background: url({{ item.example_image.url }}); background-size: contain; background-repeat: no-repeat; width: 100%; min-height: 150px; margin-bottom: 10px;">
        </div>

        {% if item.example_video %}
            <div class="ch-vid-wrap ch-item">
                <video width='auto' height="150px" controls>
                    <source src='{{ item.example_video.url }}' type='video/mp4'>
                    Your browser does not support the video tag.
                </video>
            </div>
        {% endif %}
    </div>
</div>
{# tablet and above layout #}
<div class="challenge_wrap member flex-grid hidden-phone-down">
    <div>
        <div class="ch-title ch-item">
            <h3>Challenge: <span class="norm-font">{{ item.name | title }}</span></h3>
        </div>
        <div class="ch-date ch-item">
            {{ item.start_date | date }}
            {% if item.start_date|date != item.end_date|date %}
                - {{ item.end_date | date }}
            {% endif %}
        </div>
        <div class="ch-item">
            <a href="{% url 'create_submission' challenge_id=item.pk %}" class="btn primary"><i
                    class="fas fa-file-upload"></i> Submit</a>
        </div>
    </div>
    {% if item.example_video %}
        <div class="ch-vid-wrap ch-item">
            <video width='auto' height="150px" controls>
                <source src='{{ item.example_video.url }}' type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </div>
    {% endif %}
    {% if item.example_video %}
        <div>
    {% endif %}
            <div class="ch-item"
                 style="background: url({{ item.example_image.url }}); background-size: contain;
                         background-repeat: no-repeat; {% if not item.example_video %}height: 200px; {% else %}height:150px;{% endif %}background-position: center;">
            </div>
            <div class="ch-item">
                <p>{{ item.description }}</p>
            </div>
    {% if item.example_video %}
        </div>
    {% endif %}
</div>