{% load filters %}
{# Content for member item that end_date is in past (closed) #}
{# small devices layout #}
<div class="challenge_wrap flex-grid hidden-tablet-up">
    <div class="full">
        <div class="ch-title">
            <h3>Challenge: <span class="norm-font">{{ item.name | title }}</span></h3>
        </div>
    </div>
    <div class="ch-half">
        <div class="ch-item ch-date">
            {{ item.start_date | date }}
            {% if item.start_date|date != item.end_date|date %}
                - {{ item.end_date | date }}
            {% endif %}
        </div>
        <div class="ch-item">
            {% if item.get_submissions|length > 0 %}
                <a href="{% url 'submissions' challenge_id=item.id %}" class="btn primary"><i
                        class="fas fa-eye"></i>
                    See Entries</a>
            {% else %}
                <p>This item is closed.</p>
            {% endif %}
        </div>
    </div>
    <div class="ch-half">
        <div class="ch-item">
            {% if item.example_image %}
                <img class="img-fluid mx-auto" src="{{ item.example_image.url }}"
                     alt="Example Submission Image for {{ item.name }}"/>
            {% endif %}
        </div>
    </div>

    {% if entry %}
        <div class="full outline">
            <div class="ch-item center">
                <h3>Your Entry</h3>
            </div>

            <div class="ch-item">
                <h4>Title: <span class="norm-font">{{ entry.title|title }}</span></h4>
            </div>

            <div class="ch-item">
                {# include aggregate rating for this entry #}
                {% include 'aggregate_rating.html' with item=entry inline=True %}
            </div>
            {% if entry.image_file %}
                <div class="ch-item">
                    <img class="img-fluid mx-auto" src="{{ entry.image_file.url }}"
                         alt="Submission Image for {{ entry.title }}"/>
                </div>
            {% endif %}

            {% if entry.audio_file %}
                <div class="ch-audio-wrap ch-item">
                    <audio width='auto' height="50px" controls>
                        <source src='{{ entry.audio_file.url }}' type='audio/mp3'>
                        Your browser does not support the audio tag.
                    </audio>
                </div>
            {% endif %}

            {% if entry.video_file %}
                <div class="ch-vid-wrap ch-item">
                    {% vid_player video_url=entry.video_file.url width='auto' height="250px"%}
                </div>
            {% endif %}
            <div class="ch-item">
                Submitted on {{ entry.date_created|date }}
            </div>
        </div>
    {% else %}
        <div class="full outline">
            <div class="ch-item">
                <h3>Your Entry:</h3>
            </div>
            <p>You did not submit an entry to this challenge.</p>
        </div>
    {% endif %}
</div>
{# tablet and above layout #}
<div class="challenge_wrap member flex-grid hidden-phone-down">
    <div class="full"></div>
    <div>
        <div class="ch-title ch-item">
            <h3>Challenge: <span class="norm-font">{{ item.name | title }}</span></h3>
        </div>
        <div class="ch-date ch-item">
            {{ item.start_date | date }}
            {% if item.start_date|date != item.end_date|date %}
                - {{ item.end_date | date }}
            {% endif %}
        </div>
        <div class="ch-item">
            {% if item.get_submissions|length > 0 %}
                <a href="{% url 'submissions' challenge_id=item.id %}" class="btn primary"><i
                        class="fas fa-eye"></i>
                    See Entries</a>
            {% else %}
                This item is closed.
            {% endif %}
        </div>
    </div>
    <div class="ch-item">
        {% if item.example_image %}
            <img class="img-fluid mx-auto" src="{{ item.example_image.url }}"
                 alt="Example Submission Image for {{ item.name }}"/>
        {% endif %}
    </div>
    {% if item.example_video %}
        <div class="ch-vid-wrap ch-item">
            {% vid_player video_url=item.example_video.url width='auto' height="150px" %}
        </div>
    {% else %}
        <div class="ch-item">
            <p>{{ item.description }}</p>
        </div>
    {% endif %}
</div>
<div class="challenge_wrap member flex-grid hidden-phone-down outline">
    <div class="ch-item full">
        <h3>Your Entry: <span class="norm-font">{{ entry.title|title }}</span></h3>
    </div>
    {% if entry %}
        <div class="ch-item center">
            {# include aggregate rating for this entry #}
            {% include 'aggregate_rating.html' with item=entry %}
        </div>
        <div>
            {% if entry.image_file %}
                <div class="ch-item">
                    <img class="img-fluid mx-auto" src="{{ entry.image_file.url }}"
                         alt="Submission Image for {{ entry.title }}"/>
                </div>
            {% endif %}

            <div class="ch-item">
                Submitted on {{ entry.date_created|date }}
            </div>
        </div>
        <div>
            {% if entry.audio_file %}
                <div class="ch-audio-wrap ch-item">
                    <audio width='auto' height="50px" controls>
                        <source src='{{ entry.audio_file.url }}' type='audio/mp3'>
                        Your browser does not support the audio tag.
                    </audio>
                </div>
            {% endif %}

            {% if entry.video_file %}
                <div class="ch-vid-wrap ch-item">
                    {% vid_player video_url=entry.video_file.url width='auto' height="250px" %}
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="ch-item full">
            <p>You did not submit an entry to this challenge.</p>
        </div>
    {% endif %}
</div>
