{% load filters %}
{# resbumit display for challenge user is member of  #}

{# small devices layout #}
<div class="challenge_wrap resubmit flex-grid hidden-tablet-up">
    <div class="full">
        <div class="ch-title">
            <h3>Challenge: <span class="norm-font">{{ item.name | title }}</span></h3>
        </div>
    </div>
    <div class="ch-half">
        <div class="ch-item ch-date">
            {{ item.start_date | date }}
            {% if item.start_date|date != item.end_date|date %}
                - {{ item.end_date | date }}
            {% endif %}
        </div>
        <div class="ch-item">
            <a href="#{{ item.id }}-resubmit-small" data-toggle="tooltip" id="{{ item.id }}-resubmit-small"
               title="{{ item.description }}">Details <i
                    class="fas fa-info-circle"></i></a>
        </div>
    </div>
    <div class="ch-half">
        <div class="ch-item">
            {% if item.example_image %}
                <img class="img-fluid mx-auto" src="{{ item.example_image.url }}"
                     alt="Example image for {{ item.name }} challenge."/>
            {% endif %}
        </div>
    </div>
    <div class="full">
        <div class="ch-item">
            <h3>Your Entry: <span class="norm-font">{{ entry.title|title }}</span></h3>
        </div>
        <div class="ch-item">
            Submitted on {{ entry.date_created|date }}
        </div>
        {% if entry.image_file %}

            <div class="ch-item">
                <img class="img-fluid mx-auto" src="{{ entry.image_file.url }}"
                     alt="Submission Image for {{ entry.title }}"/>
            </div>
        {% endif %}

        {% if entry.audio_file %}
            <div class="ch-audio-wrap ch-item">
                <audio width='auto' height="50px" controls>
                    <source src='{{ entry.audio_file.url }}' type='audio/mp3'>
                    Your browser does not support the audio tag.
                </audio>
            </div>
        {% endif %}

        {% if entry.video_file %}
            <div class="ch-vid-wrap ch-item">
                {% vid_player video_url=entry.video_file.url width='auto' height="250px" %}
            </div>
        {% endif %}
    </div>

    <div class="ch-item">
        <a href="{% url 'update_submission' challenge_id=item.pk %}" class="btn primary"><i
                class="fas fa-redo-alt"></i> Re-submit</a>
    </div>
    <div class="ch-item">
        <a href="{% url 'delete_submission' id=entry.pk %}" class="btn btn-cancel"><i class="fas fa-trash-alt"></i>
            Delete</a>
    </div>
</div>
{# tablet and above layout #}
<div class="challenge_wrap resubmit flex-grid hidden-phone-down">
    <div>
        <div class="ch-title ch-item">
            <h3>Challenge: <span class="norm-font">{{ item.name | title }}</span></h3>
        </div>
        <div class="ch-date ch-item">
            {{ item.start_date | date }}
            {% if item.start_date|date != item.end_date|date %}
                - {{ item.end_date | date }}
            {% endif %}
        </div>
        {% if item.example_image %}
            <img class="img-fluid mx-auto" src="{{ item.example_image.url }}"
                 alt="Example Submission Image for {{ item.name }}"/>
        {% endif %}
        <div class="ch-item">
            <a href="#{{ item.id }}-resubmit-small" data-toggle="tooltip" id="{{ item.id }}-resubmit-small"
               title="{{ item.description }}">Details <i class="fas fa-info-circle"></i></a>
        </div>
    </div>

    <div>
        <div class="ch-item">
            <h3>Your Entry: <span class="norm-font">{{ entry.title|title }}</span></h3>
        </div>
        <div class="ch-item">
            Submitted on {{ entry.date_created|date }}
        </div>
        <div class="ch-item">
            {% if entry.image_file %}
                <img class="img-fluid mx-auto" src="{{ entry.image_file.url }}"
                     alt="Submission Image for {{ entry.title }}"/>
            {% endif %}
        </div>

        {% if entry.audio_file %}
            <div class="ch-audio-wrap ch-item">
                <audio width='auto' height="50px" controls>
                    <source src='{{ entry.audio_file.url }}' type='audio/mp3'>
                    Your browser does not support the audio tag.
                </audio>
            </div>
        {% endif %}

        {% if entry.video_file %}
            <div class="ch-vid-wrap ch-item">
                {% vid_player video_url=entry.video_file.url width='auto' height="250px" %}
            </div>
        {% endif %}
    </div>

    <div class="ch-item">
        <a href="{% url 'update_submission' challenge_id=item.pk %}" class="btn primary"><i
                class="fas fa-redo-alt"></i> Re-submit</a>
    </div>
    <div class="ch-item">
        <a href="{% url 'delete_submission' id=entry.pk %}" class="btn btn-cancel"><i class="fas fa-trash-alt"></i>
            Delete</a>
    </div>

</div>