{% load filters %}
{# Display member item that user hasn't submitted to and is open #}

{# small devices layout #}
<div class="challenge_wrap submit flex-grid hidden-tablet-up">
    <div class="full">
        <div class="ch-title">
            <h3>Challenge: <span class="norm-font">{{ item.name | title }}</span></h3>
        </div>
    </div>
    <div class="ch-half">
        <div class="ch-item ch-date">
            {{ item.start_date | date }}
            {% if item.start_date|date != item.end_date|date %}
                - {{ item.end_date | date }}
            {% endif %}
        </div>
        <div class="ch-item">
            <a href="#{{ item.id }}-submit-small" data-toggle="tooltip" id="{{ item.id }}-submit-small"
               title="{{ item.description }}">Details <i
                    class="fas fa-info-circle"></i></a>
        </div>
    </div>
    <div class="ch-half">
        <div class="ch-item">
            {% if item.example_image %}
                <img class="img-fluid mx-auto" src="{{ item.example_image.url }}"
                     alt="Example Submission Image for {{ item.name }}"/>
            {% endif %}
        </div>
    </div>
    <div class="full">
        <a href="{% url 'create_submission' challenge_id=item.pk %}" class="btn primary"><i
                class="fas fa-file-upload"></i> Submit</a>
    </div>
</div>
{# tablet and above layout #}
<div class="challenge_wrap member flex-grid hidden-phone-down">
    <div>
        <div class="ch-title ch-item">
            <h3>Challenge: <span class="norm-font">{{ item.name | title }}</span></h3>
        </div>
        <div class="ch-date ch-item">
            {{ item.start_date | date }}
            {% if item.start_date|date != item.end_date|date %}
                - {{ item.end_date | date }}
            {% endif %}
        </div>
        <div class="ch-item">
            <a href="{% url 'create_submission' challenge_id=item.pk %}" class="btn primary"><i
                    class="fas fa-file-upload"></i> Submit</a>
        </div>
    </div>
    <div class="ch-item">
        {% if item.example_image %}
            <img class="img-fluid mx-auto" src="{{ item.example_image.url }}"
                 alt="Example Submission Image for {{ item.name }}"/>
        {% endif %}
    </div>
    <div class="ch-item">
        <p>{{ item.description }}</p>
    </div>
</div>