# .coveragerc to control coverage.py
[run]
# limit coverage to sniff only specific application folders
source=
    accounts
    challenges
    checkout
    home
    products
    ratings
    submissions
# omit specific files that really aren't related to application code
omit =
    */migrations/*
    */__init__*
    */test*.py
    */url*.py
    */admin.py
    */apps.py
    ms4_challenger/*.py
    */static/*
    */media/*
    .venv/*
    /documentation/*
    /test_coverage/*

[report]
# omit from report
omit =
    */migrations/*
    */__init__*
    */test*.py
    */url*.py
    */admin.py
    */apps.py
    ms4_challenger/*.py
    */static/*
    */media/*
    .venv/*
    /documentation/*
    /test_coverage/*
ignore_errors = True
exclude_lines =
        pragma: no cover


[html]
# designate output location
directory = test_coverage

