{% extends 'base.html' %}
{% load filters %}
{% block page_title %}
    Challenges
{% endblock %}
{% block page_heading %}
    Challenges
{% endblock %}
{% block main_content %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="master-tab" data-toggle="tab" href="#master" role="tab"
               aria-controls="master" aria-selected="true">Master</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="member-tab" data-toggle="tab" href="#member" role="tab" aria-controls="profile"
               aria-selected="false">Member</a>
        </li>
        <li class="nav-item">
            {% if owned_challenges and owned_challenges|length < owned_product.max_number_of_challenges %}
                <a class="nav-link" role="button" aria-controls="create" href="{% url 'create_challenge' %}"
                   aria-selected="false">Create</a>
            {% else %}
                <a class="nav-link" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create"
                   aria-selected="false">Create</a>
            {% endif %}
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="master" role="tabpanel" aria-labelledby="master-tab">
            <div class="chg-header">You currently are the Challenge Master of {{ owned_challenges|length }}
                challenges.
            </div>
            {% for item in owned_challenges %}
                <div class="challenge_wrap flex-grid">

                    <div class="visible-sm two-thirds">
                        <div class="ch-title">
                            {{ item.name | title }}
                        </div>
                        <div class="ch-date">
                            {{ item.start_date | date }}
                            {% if item.start_date|date != item.end_date|date %}
                                - {{ item.end_date | date }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="visible-sm one-third" style="background: url({{ item.example_image.url }}); background-size: contain; background-repeat: no-repeat; width: 100%; min-height: 150px; margin-bottom: 10px;">
                    </div>
                    <div class="visible-sm center">
                        <a href="{% url 'update_challenge' id=item.id %}" class="btn primary"><i
                                class="fas fa-edit"></i> Edit</a>
                    </div>
                    <div class="visible-sm center">
                        <a href="{% url 'delete_challenge' id=item.id %}" class="btn primary"><i
                                class="fas fa-trash-alt"></i> Delete</a>
                    </div>
                    {% if item.get_submission > 0 %}
                        <div class="full visible-sm">
                            <a href="{% url 'submissions' id=item.id %}" class="btn primary"><i class="fas fa-eye"></i>
                                See Entries</a>
                        </div>
                    {% endif %}
                    <div class="ch-vid-wrap hidden-sm hidden-xs >
                            {% if item.example_video %}
                                <video width='400' controls>
                                    <source src='{{ item.example_video.url }}' type='video/mp4'>
                                    Your browser does not support the video tag.
                                </video>
                            {% endif %}
                        </div>
                        <div class=" ch-recap hidden-sm hidden-xs
                    ">
                    <p>{{ item.get_members|length }} members</p>
                    <p>{{ item.get_submissions|length }} submissions</p>
                </div>
                </div>

            {% endfor %}
        <div class="tab-pane fade" id="member" role="tabpanel" aria-labelledby="member-tab">
            <div class="row">
                <div class="col-md-12">
                    <p>You currently are a member in {{ member_challenges|length }} challenges. </p>
                    {% for item in member_challenges %}
                        <p>{{ item.name }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
            {% if owned_challenges|length < owned_product.max_number_of_challenges %}
                <a href="{% url 'create_challenge' %}" class="btn">Create Challenge</a>
            {% else %}
                You have the max number of challenges allowed. Upgrade or delete an existing one.
            {% endif %}
        </div>
    </div>
    </div>




{% endblock %}