{% extends 'base.html' %}
{% load static tz %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}
{% block page_title %}
    Create Challenge
{% endblock %}
{% block page_heading %}
    Create Challenge
{% endblock %}

{% block main_content %}
    {% localtime on %}
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% for form in challenge_form %}
                {% crispy form %}
            {% endfor %}
            {% for member in members %}
                {{ member.as_table }}
            {% endfor %}
        </form>
    {% endlocaltime %}


{% endblock %}