{% extends 'base.html' %}
{% load static tz %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}
{% block page_title %}
    Update Challenge
{% endblock %}
{% block page_heading %}
    Update Challenge
{% endblock %}

{% block main_content %}
    {% localtime on %}
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% crispy challenge_form %}
        </form>
    {% endlocaltime %}
    <script type="text/javascript" src="{% static 'js/challenge.js' %}"></script>
{% endblock %}