{% extends 'base.html' %}
{% load static products_tags %}
{% block main_content %}
    <div class="card-deck products">
        {% for product in products %}
            <div class="card">
                {% include '_partials/product_card.html' with product=product %}
                <div class="card-footer">
                    <form method="post" action="{% url 'checkout' pk=product.pk %}">
                        {% csrf_token %}
                        <div class="input-group">
                        <span class="input-group-btn">
                        {% if owned_product == product %}
                            Currently Owned
                        {% else %}
                            <button class="btn btn-default" type="submit">Checkout</button>
                        {% endif %}
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/products.js' %}"></script>
{% endblock %}