{% extends 'base.html' %}
{% load static bootstrap_tags crispy_forms_tags products_tags %}
<!-- head_js is a stripe requirement -->
{% block head_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
{% block page_title %}
    Payment Details
{% endblock %}
{% block page_heading %}
    Payment Details
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <h4>{{ product.name }}</h4>
        </div>
        <div class="col-md-6">
            <div class="card-text product-description">{{ product.description }}</div>
            <h4>Total</h4>
            <div class="card-text price checkout">
                {{ product.price | format_price }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-img-wrap checkout">
                <img class="card-img-top" src="{{ MEDIA_URL }}{{ product.image }}" alt="Image for {{ product.name }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Payment Details</h4>
        </div>
    </div>
    <form role="form" method="post" id="payment-form" action="{% url 'checkout' pk=product.pk %}">
        {% csrf_token %}

        <div class="alert alert-danger" role="alert" id="credit-card-errors" style="display: none;">
            <div id="stripe-error-message"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ payment_form.credit_card_number|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ payment_form.ccv|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ payment_form.expiry_month|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ payment_form.expiry_year|as_crispy_field }}
                </div>
            </div>

            <div class="form-group">
                {{ payment_form.stripe_id|as_crispy_field }}
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit"
                       value="Submit Payment">
                <a class="btn btn-cancel" href="{% url 'products' %}">Cancel</a>
            </div>
        </div>
    </form>

{% endblock %}