{% extends "base.html" %}
{% block page_title %}
    Account Settings
{% endblock %}
{% block page_heading %}
    Account Settings
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <h4>User Details:</h4>
        </div>
    </div>
    <div class="row profile-outline">
        <div class="col-md-8">
            <p>
                <span class="label">Username: </span>
                {{ request.user.username }}
            </p>
            <p>
                <span class="label">Email: </span>
                {{ request.user.email }}
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <span class="label">First Name: </span>
                {% if request.user.first_name %}
                    {{ request.user.first_name }}
                {% endif %}
            </p>
            <p>
                <span class="label">Last Name: </span>
                {% if request.user.last_name %}
                    {{ request.user.last_name }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Profile:</h4>
        </div>
    </div>
    <div class="row profile-outline">
        <div class="col-md-8">
            <p>
                <span class="label">Birth Date: </span>
                {% if request.user.profile.birth_date %}
                    {{ request.profile.birth_date }}
                {% endif %}
            </p>
            <p>
                <span class="label">Interests: </span>
                {% if request.user.profile.tags %}
                    {% for tag in tags %}
                        {{ tag }}<br>
                    {% endfor %}
                {% endif %}
            </p>
        </div>
        <div class="col-md-4">
            <span class="label">Avatar: </span>
            <img class="profile-pic profile-outline" src="{{ request.user.profile.profile_pic.url }}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Service Level:</h4>
        </div>
    </div>
    <div class="row profile-outline">
        <div class="col-md-8">
            <p>
                <span class="label">Service Level: </span>
                {% if request.user.profile.product_level.name %}
                    {{ request.user.profile.product_level.name }}
                {% else %}
                    Free
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}