{% extends "base.html" %}
{% load products_tags %}
{% block page_title %}
    Account Overview
{% endblock %}
{% block page_heading %}
    Account Overview
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <h4>User Details:</h4>
        </div>
    </div>
    <div class="row profile-outline">
        <div class="col-md-8">
            <p>
                <span class="label">Username: </span>
                {{ request.user.username }}
            </p>
            <p>
                <span class="label">Email: </span>
                {{ request.user.email }}
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <span class="label">First Name: </span>
                {% if request.user.first_name %}
                    {{ request.user.first_name }}
                {% else %}
                    <span class="empty-form"></span>
                {% endif %}
            </p>
            <p>
                <span class="label">Last Name: </span>
                {% if request.user.last_name %}
                    {{ request.user.last_name }}
                {% else %}
                    <span class="empty-form"></span>
                {% endif %}
            </p>
        </div>
        <div class="col-md-8">
            <a href="{% url 'update_user' %}">Make Changes</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'password_reset' %}">Reset Password</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Profile:</h4>
        </div>
    </div>
    <div class="row profile-outline">
        <div class="col-md-8">
            <p>
                <span class="label">Birth Date: </span>
                {% if request.user.profile.birth_date %}
                    {{ request.user.profile.birth_date|date }}
                {% else %}
                    <span class="empty-form"></span>
                {% endif %}
            </p>
            <p>
                <span class="label">Interests: </span>
                {% if request.user.profile.get_tags|length > 0 %}
                    <ul>
                        {% for tag in request.user.profile.get_tags %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    None<br>
                {% endif %}
            </p>
        </div>
        <div class="col-md-4">
            <span class="label">Avatar: </span>
            <img class="profile-pic profile-outline" src="{{ request.user.profile.profile_pic.url }}">
        </div>

        <div class="col-md-12">
            <a href="{% url 'update_profile' %}">Make Changes</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Service Level:</h4>
        </div>
    </div>
    <div class="row profile-outline">
        <div class="col-md-8">
            <p>
                <span class="label">Service Level: </span>
                {% if request.user.profile.product_level.name %}
                    {{ request.user.profile.product_level.name }}
                {% else %}
                    Free
                {% endif %}
            </p>
            {% if orders|length > 0 %}
                <div id="accordion">

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    Order History
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-dark table-striped">
                                    <thead>
                                    <tr>
                                        <th>Service Level</th>
                                        <th>Order Date</th>
                                        <th>Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>{{ order.product.name|title }}</td>
                                            <td class="date">{{ order.date_created|date }}</td>
                                            <td>{{ order.total|format_price }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            {% endif %}
        </div>
        {% if request.user.profile.product_level.name != "Interstellar" %}
            <div class="col-md-12">
                <a href="{% url 'products' %}">Make Changes</a>
            </div>
        {% endif %}
    </div>
{% endblock %}