{% extends 'base.html' %}
{% load static tz bootstrap_tags crispy_forms_tags %}
{% load filters %}
{% block head_css %}
    <link rel="stylesheet" href="{% static 'css/entry.css' %}" type="text/css">
{% endblock %}
{% block page_title %}
    Create Submission
{% endblock %}
{% block page_heading %}
    Create Entry for {{ challenge.name|title }}
{% endblock %}
{% block main_content %}
    {% localtime on %}
        <div class="entry_wrap">
            <div class="ch-item">
                <h5>Your Entry:</h5>
            </div>
            <div class="{% if 'image' not in challenge.submission_types %} image-hide {% endif %}{% if 'audio' not in challenge.submission_types %} audio-hide {% endif %}{% if 'video' not in challenge.submission_types %} video-hide {% endif %}">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
        <div class="entry_wrap details">
            <div class="ch-item full">
                <h5>Challenge Details:</h5>
            </div>
            <div class="ch-item">
                <label for="date">Date: </label>
                <div id="date">
                    {{ challenge.start_date | date }}
                    {% if challenge.start_date|date != challenge.end_date|date %}
                        - {{ challenge.end_date | date }}
                    {% endif %}
                </div>
                <label for="description">Description: </label>
                <div id="description">{{ challenge.description }}</div>
            </div>
            <div class="ch-item">
                {% if challenge.example_image %}
                    <label for="example_image">Example Image:</label>
                    <img id="example_image" class="mx-auto img-fluid" src="{{ challenge.example_image.url }}"
                         alt="Challenge Example Image."/>
                {% endif %}
            </div>
            <div class="ch-vid-wrap ch-item">
                {% if challenge.example_video %}
                    <label for="example_video">Example Video:</label>
                    {% vid_player video_url=challenge.example_video.url id="example_video" %}
                {% endif %}
            </div>
        </div>
    {% endlocaltime %}
{% endblock %}