{% extends 'base.html' %}
{% load filters %}
{% load static tz bootstrap_tags crispy_forms_tags %}
{% block page_title %}
    Submissions
{% endblock %}
{% block head_css %}
    <link rel="stylesheet" href="{% static 'css/ratings.css' %}" type="text/css">
{% endblock %}
{% block page_heading %}
    Entries for: {{ challenge.name|title }}
{% endblock %}
{% block main_content %}
    {% if submissions|length == 0 %}
        <p>There are no submissions for this challenge yet.</p>
    {% else %}
        {# Ratings input needs the csrf_token #}
        <form class="form-wrap" role="form" id="submit-rating-form">
            {% csrf_token %}
            <div id="carousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                    {% for item in submissions %}
                        <div class="carousel-item col-12 col-md-6 {% if forloop.counter == 1 %}active{% endif %}">
                            <h3 class="carousel-title">Title: {{ item.title|title }}</h3>
                            <p class="item-count">Entry: {{ forloop.counter }} of {{ submissions|length }}</p>
                            <div class="slider-img">
                                {% if item.image_file %}
                                    <img class="img-fluid d-block" src="{{ item.image_file.url }}"
                                         alt="image for {{ item.title }}">
                                {% endif %}
                                {% if item.video_file %}
                                    {% vid_player video_url=item.video_file.url %}
                                {% endif %}
                                {% if item.audio_file %}
                                    <audio controls>
                                        <source src='{{ item.audio_file.url }}' type='audio/mp3'>
                                        Your browser does not support the video tag.
                                    </audio>
                                {% endif %}
                            </div>
                            <div class="carousel-caption">
                                {# include aggregate rating for this entry #}
                                {% include 'aggregate_rating.html' %}
                                {# include rating input for this entry #}
                                {% include 'rating_form.html' %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if submissions|length > 1 %}
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <i aria-hidden="true" class="fas fa-lg fa-chevron-circle-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <i aria-hidden="true" class="fas fa-lg fa-chevron-circle-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                {% endif %}
            </div>
        </form>

    {% endif %}
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rating.js' %}"></script>
{% endblock %}